// Override default variables before the import
$off-black: rgba(0, 0, 0, 0.886);

$dark: black;
$bs-primary: red;

//import bootstrap styles at the bottom only import what you need

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "~react-bootstrap-sidebar-menu/dist/sidebar-menu";
@import "./sidebar-menu";

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	background: #f3f4f6;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

.main-header {
	grid-area: header;
	padding: 0.5rem;
}

.main-container {
	grid-area: main;
	box-shadow: inset 2px 1px 9px 1px rgba($dark, 0.1);
	overflow: auto;
	padding-top: 1rem;
}

.sidebar-menu {
	padding-top: 0;
	flex-direction: column;
	grid-area: sidebar;
	overflow-y: auto;
}
//grid-auto-rows is auto by default

.custom-grid-1 {
	display: grid;
	place-items: center;
	grid-gap: 15px;
	//2 columns
	grid-template-columns: repeat(2, 1fr);
	//height of one row
	grid-template-rows: repeat(1, 1fr);
	// grid-auto-rows: repeat(auto, auto);
	// grid-auto-rows: auto 1fr;
	grid-template-areas:
		"paragraph1 image1"
		"paragraph2 paragraph2"
		"paragraph3 paragraph3"
		"image2 paragraph4"
		"paragraph5 paragraph5"
		"paragraph6 image3"
		"image4 paragraph7"
		"paragraph8 image5"
		"image6 paragraph9"
		"paragraph10 paragraph10"
		"paragraph11 paragraph11"
		"image7 paragraph12"
		"paragraph13 paragraph13"
		"paragraph14 image8"
		"image9 paragraph15"
		"paragraph16 image10";

	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
	}

	.paragraph {
		font-size: 1.5rem;
		text-align: center;
	}
	/*8 paragraphs */
	//1
	.paragraph:nth-of-type(1) {
		grid-area: paragraph1;
	}
	.paragraph:nth-of-type(2) {
		grid-area: paragraph2;
	}
	.paragraph:nth-of-type(3) {
		grid-area: paragraph3;
	}
	.paragraph:nth-of-type(4) {
		grid-area: paragraph4;
	}
	.paragraph:nth-of-type(5) {
		grid-area: paragraph5;
	}
	.paragraph:nth-of-type(6) {
		grid-area: paragraph6;
	}
	.paragraph:nth-of-type(7) {
		grid-area: paragraph7;
	}
	.paragraph:nth-of-type(8) {
		grid-area: paragraph8;
	}
	.paragraph:nth-of-type(9) {
		grid-area: paragraph9;
	}
	.paragraph:nth-of-type(10) {
		grid-area: paragraph10;
	}
	.paragraph:nth-of-type(11) {
		grid-area: paragraph11;
	}
	.paragraph:nth-of-type(12) {
		grid-area: paragraph12;
	}
	.paragraph:nth-of-type(13) {
		grid-area: paragraph13;
	}
	.paragraph:nth-of-type(14) {
		grid-area: paragraph14;
	}
	.paragraph:nth-of-type(15) {
		grid-area: paragraph15;
	}
	.paragraph:nth-of-type(16) {
		grid-area: paragraph16;
	}

	.image {
		width: 400px;
		height: auto;
		@media (max-width: 600px) {
			width: 300px;
			height: auto;
		}
	}

	.image:nth-of-type(1) {
		grid-area: image1;
	}
	.image:nth-of-type(2) {
		grid-area: image2;
	}
	.image:nth-of-type(3) {
		grid-area: image3;
	}
	.image:nth-of-type(4) {
		grid-area: image4;
	}
	.image:nth-of-type(5) {
		grid-area: image5;
	}

	.image:nth-of-type(6) {
		grid-area: image6;
	}
	.image:nth-of-type(7) {
		grid-area: image7;
	}
	.image:nth-of-type(8) {
		grid-area: image8;
	}
	.image:nth-of-type(9) {
		grid-area: image9;
	}
	.image:nth-of-type(10) {
		grid-area: image10;
	}
}

.answer {
	cursor: pointer;
	padding: 5px;
	margin: 0;
	border: 2px solid transparent; /*to prevent borders from moving content*/
	background-color: transparent;
}

.answer::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 1px;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 5px;
	padding: 2px;
}

.answer.correct::before,
.answer.incorrect::before {
	background: black content-box;
}
// try adding transparent somewhere?
.correct {
	border: 3px solid green;
	border-top-width: 3px !important;
}
.incorrect {
	border: 3px solid red;
	border-top-width: 3px !important;
}

.landing-page-image {
	height: 100vh;
	background-image: url("../images/smoked_cocktail.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
}

.landing-page-container {
	margin: 0 !important;
}

.landing-navbar-brand {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.completed-checkbox,
.completed-checkbox:checked {
	background-color: lighten($off-black, 50%);
	border-color: lighten($off-black, 50%);
	color: lighten($off-black, 50%);
}

.footer-logo {
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
	filter: invert(100%);
	width: 100px;
}

.custom-nav-icon {
	color: lighten($off-black, 50%);
}

.custom-modal {
	min-height: 100vh;
}

.logo-and-image {
	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		margin: auto auto;
		margin-left: 5rem;
	}
}
