// Override default variables before the import
$off-black: rgba(0, 0, 0, 0.886);

$body-bg: $off-black;
$dark: black;
$bs-primary: red;

//import bootstrap styles at the bottom only import what you need

// @import "~bootstrap/scss/bootstrap.scss";
// @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "react-bootstrap-sidebar-menu/dist/sidebar-menu.scss";

// @import "~bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../../../node_modules/bootstrap/scss/functions";
//find variable names here
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "~react-bootstrap-sidebar-menu/dist/sidebar-menu";
@import "./sidebar-menu";
// @import "../../../node_modules/bootstrap/scss/transitions";

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	background: #f3f4f6;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

.main-header {
	grid-area: header;
	padding: 0.5rem;
}

.main-container {
	grid-area: main;
	box-shadow: inset 2px 1px 9px 1px rgba($dark, 0.1);
	overflow: auto;
	padding-top: 1rem;
}

.sidebar-menu {
	padding-top: 0;
	flex-direction: column;
	grid-area: sidebar;
	overflow-y: auto;
}

.custom-grid-1 {
	display: grid;
	place-items: center;
	grid-gap: 15px;
	//2 columns
	grid-template-columns: repeat(2, 1fr);
	//height of one row
	grid-auto-rows: repeat(auto auto);
	// grid-auto-rows: auto 1fr;
	grid-template-areas:
		"paragraph1 image1"
		"paragraph2 paragraph2"
		"paragraph3 paragraph3"
		"image2 paragraph4"
		"paragraph5 paragraph5"
		"paragraph6 image3"
		"image4 paragraph7"
		"paragraph8 image5";

	.paragraph {
		font-size: 1.5rem;
		text-align: center;
	}
	/*8 paragraphs */
	//1
	.paragraph:nth-of-type(1) {
		grid-area: paragraph1;
	}
	.paragraph:nth-of-type(2) {
		grid-area: paragraph2;
	}
	.paragraph:nth-of-type(3) {
		grid-area: paragraph3;
	}
	.paragraph:nth-of-type(4) {
		grid-area: paragraph4;
	}
	.paragraph:nth-of-type(5) {
		grid-area: paragraph5;
	}
	.paragraph:nth-of-type(6) {
		grid-area: paragraph6;
	}
	.paragraph:nth-of-type(7) {
		grid-area: paragraph7;
	}
	.paragraph:nth-of-type(8) {
		grid-area: paragraph8;
	}

	.image {
		width: 400px;
		height: auto;
	}

	.image:nth-of-type(1) {
		grid-area: image1;
	}
	.image:nth-of-type(2) {
		grid-area: image2;
	}
	.image:nth-of-type(3) {
		grid-area: image3;
	}
	.image:nth-of-type(4) {
		grid-area: image4;
	}
	.image:nth-of-type(5) {
		grid-area: image5;
	}

	// .paragraph:nth-of-type(8n + 1) {
	// 		grid-area: auto / paragraph1;
	// 	}
	// 	.paragraph:nth-of-type(8n + 2) {
	// 		grid-area: auto / paragraph2;
	// 	}
	// 	.paragraph:nth-of-type(8n + 3) {
	// 		grid-area: auto / paragraph3;
	// 	}
	// 	.paragraph:nth-of-type(8n + 4) {
	// 		grid-area: auto / paragraph4;
	// 	}
	// 	.paragraph:nth-of-type(8n + 5) {
	// 		grid-area: auto / paragraph5;
	// 	}
	// 	.paragraph:nth-of-type(8n + 6) {
	// 		grid-area: auto / paragraph6;
	// 	}
	// 	.paragraph:nth-of-type(8n + 7) {
	// 		grid-area: auto / paragraph7;
	// 	}
	// 	.paragraph:nth-of-type(8n + 8) {
	// 		grid-area: auto / paragraph8;
	// 	}

	// 	.image:nth-of-type(5n + 1) {
	// 		grid-area: auto / image1;
	// 	}
	// 	.image:nth-of-type(5n + 2) {
	// 		grid-area: auto / image2;
	// 	}
	// 	.image:nth-of-type(5n + 3) {
	// 		grid-area: auto / image3;
	// 	}
	// 	.image:nth-of-type(5n + 4) {
	// 		grid-area: auto / image4;
	// 	}
	// 	.image:nth-of-type(5n + 5) {
	// 		grid-area: auto / image5;
	// 	}
}
.custom-grid-2 {
	display: grid;
	place-items: center;
	grid-gap: 15px;
	grid-auto-flow: dense;
	//2 columns
	grid-template-columns: repeat(2, 1fr);
	//height of one row
	grid-auto-rows: 150px;
	// grid-auto-rows: auto 1fr;

	.paragraph {
		font-size: 1.5rem;
		text-align: center;
	}
	.image {
		width: 400px;
		height: auto;
	}
	//first paragraph take up 1 row and 1 column
	.paragraph:nth-of-type(8n + 1) {
		grid-area: span 1 / span 1;
	}
	//first image take up 1 column and 1 row
	.image:nth-of-type(5n + 1) {
		grid-area: span 1 / span 1;
	}
	//second paragraph take up 1 row and 2 columns
	.paragraph:nth-of-type(8n + 2) {
		grid-area: span 1 / span 2;
	}

	//third paragraph take up 1 row and 2 columns
	.paragraph:nth-of-type(8n + 3) {
		grid-area: span 1 / span 2;
	}

	//2nd image take up 1 row `1 column
	.image:nth-of-type(5n + 2) {
		grid-area: span 1 / span 1;
	}

	//fourth paragraph take up 1 row and 1 columns
	.paragraph:nth-child(8n + 4) {
		grid-area: span 1 / span 1;
	}

	//fifth paragraph take up 1 row and 2 columns
	.paragraph:nth-of-type(8n + 5) {
		grid-area: span 1 / span 2;
	}

	//sixth paragraph take up 1 row and 1 columns
	.paragraph:nth-of-type(8n + 6) {
		grid-area: span 1 / span 1;
	}

	//third image take up 1 row 1 column
	.image:nth-of-type(5n + 3) {
		grid-area: span 1 / span 1;
	}

	//fourth image take up 1 row 1 column
	.image:nth-of-type(5n + 4) {
		grid-area: span 1 / span 1;
	}

	//seven paragraph take up 1 row and 1 columns
	.paragraph:nth-of-type(8n + 7) {
		grid-area: span 1 / span 1;
	}

	//eighth paragraph take up 1 row and 1 columns
	.paragraph:nth-of-type(8n + 8) {
		grid-area: span 1 / span 1;
	}

	//fifth image take up 1 row 1 column
	.image:nth-of-type(5n + 5) {
		grid-area: span 1 / span 1;
	}
}

.custom-grid-3 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 15px;

	// grid-template-areas:
	// 	"paragraph1 image1"
	// 	"paragraph2 paragraph2"
	// 	"paragraph3 paragraph3"
	// 	"image2 paragraph4"
	// 	"paragraph5 paragraph5"
	// 	"paragraph6 image3"
	// 	"image4 paragraph7"
	// 	"paragraph8 image5";
	//1st p 1st child

	.image {
		width: 400px;
		height: auto;
	}

	.paragraph {
		font-size: 1.5rem;
		text-align: center;
	}
	//1st p 1st child of grid, 1st of type p
	.paragraph:nth-of-type(8n + 1) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	//1st image 2nd child of grid, 1st of type image
	.image:nth-of-type(5n + 1) {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	//2nd p 3rd child 2nd of type p
	.paragraph:nth-of-type(8n + 2) {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	//3nd p 5th child of grid, 3rd of type p
	.paragraph:nth-of-type(8n + 3) {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
	//2nd image 4th child of grid, 2nd of type image
	.image:nth-of-type(5n + 2) {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}
	//4th p 6th child of grid 4th of type p
	.paragraph:nth-of-type(8n + 4) {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
	}
	//5th p 7th child of grid, 5th of type p
	.paragraph:nth-of-type(8n + 5) {
		grid-column: 1 / 3;
		grid-row: 5 / 6;
	}

	//6th p 8th child, 6th of type p
	.paragraph:nth-of-type(8n + 6) {
		grid-column: 1 / 2;
		grid-row: 6 / 7;
	}
	//3rd image 9th child, 3rd of type image
	.image:nth-of-type(5n + 3) {
		grid-column: 2 / 3;
		grid-row: 6 / 7;
	}
	//4rd image 10th child 4th of type image
	.image:nth-of-type(5n + 4) {
		grid-column: 1 / 2;
		grid-row: 7 / 8;
	}
	//7th p 11th child, 7th of type p
	.paragraph:nth-of-type(8n + 7) {
		grid-column: 2 / 3;
		grid-row: 7 / 8;
	}
	//8th p 12th child of grid, 8th of type p
	.paragraph:nth-of-type(8n + 8) {
		grid-column: 1 / 2;
		grid-row: 8 / 9;
	}

	//5th image 13th child
	.image:nth-of-type(5n + 4) {
		grid-column: 2 / 3;
		grid-row: 8 / 9;
	}
}

.answer {
	cursor: pointer;
	padding: 5px;
	margin: 0;
	border: 2px solid transparent; /*to prevent borders from moving content*/
	background-color: transparent;
}

.answer::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 1px;
	border: 1px solid black;
	border-radius: 50%;
	margin-right: 5px;
	padding: 2px;
}

.answer.correct::before,
.answer.incorrect::before {
	background: black content-box;
}
// try adding transparent somewhere?
.correct {
	border: 3px solid green;
}
.incorrect {
	border: 3px solid red;
}

.landing-page-image {
	height: 100vh;
	background-image: url("../images/smoked_cocktail.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
}

.landing-page-container {
	margin: 0 !important;
}

.landing-navbar-brand {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.completed-checkbox,
.completed-checkbox:checked {
	background-color: lighten($off-black, 50%);
	border-color: lighten($off-black, 50%);
	color: lighten($off-black, 50%);
}
