//overwrite theme variables
$dark: black;

//import bootstrap styles at the bottom
@import "~bootstrap/scss/bootstrap.scss";
// @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "react-bootstrap-sidebar-menu/dist/sidebar-menu.scss";

@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-sidebar-menu/dist/sidebar-menu";
@import "./sidebar-menu";

html,
body,
#root {
	padding: 0;
	width: 100%;
	height: 100%;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	background: #f3f4f6;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

.main-header {
	grid-area: header;
	padding: 0.5rem;
}

.main-container {
	grid-area: main;
	box-shadow: inset 2px 1px 9px 1px rgba($dark, 0.1);
	overflow: auto;
	padding-top: 1rem;
}

.sidebar-menu {
	padding-top: 0;
	flex-direction: column;
	grid-area: sidebar;
	overflow-y: auto;
}

.custom-grid-1 {
	display: grid;
	place-items: center;
	grid-gap: 15px;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto 1fr;
	grid-template-areas:
		"paragraph1 image1"
		"paragraph2 paragraph2"
		"paragraph3 paragraph3"
		"image2 paragraph4"
		"paragraph5 paragraph5"
		"paragraph6 image3"
		"image4 paragraph7"
		"paragraph8 image5";

	.paragraph {
		font-size: 1.5rem;
		text-align: center;
	}
	/*8 paragraphs */
	//1
	.paragraph:nth-of-type(1) {
		grid-area: paragraph1;
	}
	.paragraph:nth-of-type(2) {
		grid-area: paragraph2;
	}
	.paragraph:nth-of-type(3) {
		grid-area: paragraph3;
	}
	.paragraph:nth-of-type(4) {
		grid-area: paragraph4;
	}
	.paragraph:nth-of-type(5) {
		grid-area: paragraph5;
	}
	.paragraph:nth-of-type(6) {
		grid-area: paragraph6;
	}
	.paragraph:nth-of-type(7) {
		grid-area: paragraph7;
	}
	.paragraph:nth-of-type(8) {
		grid-area: paragraph8;
	}

	.image {
		width: 400px;
		height: auto;
	}

	.image:nth-of-type(1) {
		grid-area: image1;
	}
	.image:nth-of-type(2) {
		grid-area: image2;
	}
	.image:nth-of-type(3) {
		grid-area: image3;
	}
	.image:nth-of-type(4) {
		grid-area: image4;
	}
	.image:nth-of-type(5) {
		grid-area: image5;
	}
}

// .paragraph:nth-of-type(8n + 1) {
// 		grid-area: auto / paragraph1;
// 	}
// 	.paragraph:nth-of-type(8n + 2) {
// 		grid-area: auto / paragraph2;
// 	}
// 	.paragraph:nth-of-type(8n + 3) {
// 		grid-area: auto / paragraph3;
// 	}
// 	.paragraph:nth-of-type(8n + 4) {
// 		grid-area: auto / paragraph4;
// 	}
// 	.paragraph:nth-of-type(8n + 5) {
// 		grid-area: auto / paragraph5;
// 	}
// 	.paragraph:nth-of-type(8n + 6) {
// 		grid-area: auto / paragraph6;
// 	}
// 	.paragraph:nth-of-type(8n + 7) {
// 		grid-area: auto / paragraph7;
// 	}
// 	.paragraph:nth-of-type(8n + 8) {
// 		grid-area: auto / paragraph8;
// 	}

// 	.image:nth-of-type(5n + 1) {
// 		grid-area: auto / image1;
// 	}
// 	.image:nth-of-type(5n + 2) {
// 		grid-area: auto / image2;
// 	}
// 	.image:nth-of-type(5n + 3) {
// 		grid-area: auto / image3;
// 	}
// 	.image:nth-of-type(5n + 4) {
// 		grid-area: auto / image4;
// 	}
// 	.image:nth-of-type(5n + 5) {
// 		grid-area: auto / image5;
// 	}
